
<div id ="page">
  <div id ="header-page">
      <div id="logo">
        <h1>Bike Tour</h1>
      </div>
  </div>
</div>
<div id ="threeColumns">
  <div id="column1">
    <h2>Travelogues</h2>  <p>Many travel websites are online travelogues or travel journals, usually created by individual travelers and hosted by companies that generally provide their information to consumers for free.[2] These companies generate revenue through advertising or by providing services to other businesses. This medium produces a wide variety of styles, often incorporating graphics, photography, maps, and other unique content.</p>
  </div>

  <div id="column2">
    <h2>Social travel</h2>  <p>A social travel website is a type of travel website that will look at where the user is going and pair them with other places they want to go based on where other people have gone.[18] This can help the traveler gain insight of the destination, people, culture before travel and become aware of the places the user is willing to visit.</p>
  </div>

  <div id="column3">
    <h2>Bargain</h2>  <p>Travel bargain websites collect and publish bargain rates by advising consumers where to find them online (sometimes but not always through a direct link). Rather than providing detailed search tools, these sites generally focus on offering advertised specials, such as last-minute sales from travel suppliers eager to deplete unused inventor</p>
  </div>
</div>
